.contact-container {
    margin: auto;
    margin-top: 20px;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: rgb(100, 95, 85);
    box-shadow: 0 0 1rem #131212;
    border-radius: 0.5rem;
    overflow: hidden;
   
}

.form-container {
    padding: 20px;

    h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

.contact-form {
    display: grid;
    row-gap: 1rem;

    input,
    textarea {
        width: 100%;
        border: none;
        outline: none;
        background: $mainColor;
        padding: 10px;
        font-size: 0.9rem;
        color: #3b362b;
        border-radius: 0.4rem;
    }

    textarea {
        resize: none;
        height: 200px;
    }

    .send-button {
        border: none;
        outline: none;
        background: $mainColor;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

    }

    .send-button:hover {
        background: hsla(34, 34%, 60%, 0.8);
        transition: 0.3s all linear;

    }
}

.map iframe {
    width: 100%;
    height: 100%;
}