.container {
    background-color: rgb(94, 83, 68);
    padding: 10px;
}

.indice-texto {
    text-align: center;
}

.indice-img {
    justify-content: center;
}

.indicee {
    margin-top: 80px;
    display: grid;
    gap: 5px;
    padding: 20px 20px 20px 20px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 200px 200px;
    grid-template-areas:

        "img1 text1 img3 img4"
        "text2 img2 img3 img5";
}

.texto1 {
    margin-top: 40px;
    grid-area: text1;
    text-align: center;
    font-size: 0.8em;
    justify-content: center;
    background-color: $secondaryColor;
}

.imagen1 {
    grid-area: img1;
    img{
        width: 100%;
        height: 100%;
    }
}

.texto2 {
    margin-top: 40px;
    grid-area: text2;
    text-align: center;
    justify-content: center;
    font-size: 0.8em;
    background-color: $secondaryColor;
}

.imagen2 {
    grid-area: img2;
    img{
        width: 100%;
        height: 100%;
    }
}

.imagen3 {
    grid-area: img3;
    img{
        width: 100%;
        height: 100%;
    }
}

.imagen4 {
    grid-area: img4;
    img{
        width: 100%;
        height: 100%;
    }
}

.imagen5 {
    grid-area: img5;
    img{
        width: 100%;
        height: 100%;
    }
}

.flex-container {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    
    img {
        margin-left: 22px;
        max-width: 300px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 30px;
        

        &:hover {
            filter: opacity(.5);
        }
    }
}

.logo-index {
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
    justify-content: center;
    src: "cdrems.svg";

    img {
        max-width: 200px;
        padding: 1rem;
    }
}