//variables globales
$mainColor: #bead96;
$secondaryColor: black;
$keyColor: #3f3b36;

//fonts
$mainFont: 'playfair display', sans-serif;
$textSm:1.5em;
$textMd:2.5em;
$textLg:4em;
$textBold:700;
$textLight:300;

//variables para responsive
$desktop:991px;
$tablet: 768px;
$smartphone: 576px;
